.Display {
 display: flex;
 flex-grow: 1;
 padding: 0 10px;
 align-items: center;
 justify-content: center;
 height: 250px;
 color: white;
 font-size: 70px;
 user-select: none;
 transition: 0.5s ease-in-out;

 word-break: break-word;
}


.error {
  background-color: #1A1423;
}