.Settings {
 user-select: none;
 position: absolute;
 bottom: -250px;
 right: 50%;
 transform: translateX(50%);
 display: flex;
 flex-direction: column;
 align-items: center;
 row-gap: 20px;
 opacity: 1;
 transition: 0.2s ease-in-out;
}

.settingsBlock {
 display: flex;
 flex-direction: column;
 row-gap: 10px;
 width: 330px;
 color: white;
}

.settingsItem {
 display: flex;
 column-gap: 5px;
 justify-content: space-between;

 > span {

 }

 > input {
  text-align: center;
  animation: colorCounter ease-in-out infinite forwards 5s alternate;
  padding: 5px;
 }
}

.hidden {
 opacity: 0;
 display: none;
}

@keyframes colorCounter {
 0% {
  background-color: rgba(238, 38, 119, 0.1);
 }

 100% {
  background-color: rgba(0, 255, 205, 0.1);
 }
}

.errorInput {
  background-color: #EE2677 !important;
}